<html  xmlns:th="http://www.thymeleaf.org" >
<div class="accordion" th:attr="id='menu-27'">
    <div th:each="arrayS:${param.parentId}" th:with ="firstMenu=true">
        <div th:each="menu:${menuList}" th:if="${menu.parent.id eq arrayS && menu.isShow=='1'}">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" th:attr="data-parent='#menu-'+${arrayS},data-href='#collapse-'+${menu.id},
                       href='#collapse-'+${menu.id},title='${menu.remarks}'">
                        <i th:attr="class=''"></i>&nbsp;<p th:text="${menu.name}"></p>
                    </a>
                </div>
                <div th:id="'collapse-'+${menu.id}" th:attr="class='accordion-body in collapse'">
                    <div class="accordion-inner">
                        <ul class="nav nav-list">

                            <li th:each="menu2:${menuList}" th:if="${menu2.parent.id eq menu.id}">
                                <a th:attr="data-href='.menu3-'+${menu2.id},href='/menu/test1',target='mainFrame'">
                                    &nbsp;<p
                                        th:text="${menu2.name}"></p>
                                </a>
                                <ul class="nav nav-list hide" style="margin:0;padding-right:0;">
                                    <li th:attr="class='menu3-'+${menu2.id}+ 'hide'" th:each="menu3:${menuList}"
                                        th:if="${menu3.parent.id eq menu2.id}">
                                        <a th:attr="href='/menu/test',target=${menu3.target==null ? menu3.target : 'mainFrame'}">
                                            &nbsp;<p th:text="${menu3.name}"></p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</html>