<html  xmlns:th="http://www.thymeleaf.org" >
<div class="accordion" id="menu-${param.parentId}">
    <div th:each="arrayS:${param.parentId}">
        <div th:text="${arrayS}"></div>
        <li th:each="menu:${menuList}" th:if="${menu.isShow eq '1'}">
            <a><span><p th:text="${menu.name}"></p></span></a>
        </li>
    </div>





        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#menu-${param.parentId}"
                   data-href="#collapse-${menu.id}" href="#collapse-${menu.id}" title="${menu.remarks}"><i
                        class=""></i>&nbsp;${menu.name}
                </a>
            </div>
            <div id="collapse-${menu.id}" class="accordion-body collapse ${not empty firstMenu && firstMenu ? 'in' : ''}">
                <div class="accordion-inner">
                    <ul class="nav nav-list">
                        <li th:each="menu2:${menuList}" th:if="${menu2.parent.id eq menu.id&&menu.isShow eq '1'}">
                            <li><a data-href=".menu3-${menu2.id}"  href=""  target="">
                                <i class=""></i>&nbsp;${menu2.name}
                            </a>
                                <ul class="nav nav-list hide" style="margin:0;padding-right:0;">
                                    <li th:each="menu3:${menuList}" th:if="${menu3.parent.id eq menu2.id&&menu.isShow eq '1'}">
                                    <li class=""><a  href="" target="">
                                    <i class=""></i>&nbsp;${menu3.name}
                                    </a></li>
                                </c:if>
                                </c:forEach></ul>
                            </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </c:if></c:forEach>
</div>
</html>